antlr==2.7.5rc1
arista==0.9.8
asn1crypto==0.24.0
attrs==17.4.0
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
chardet==3.0.4
configparser==3.5.0
cryptography==2.3
cvxopt==1.1.9
cycler==0.10.0
decorator==4.1.2
dnspython==1.15.0
enum34==1.1.6
et-xmlfile==1.0.1
ExifRead==2.1.2
funcsigs==1.0.2
future==0.15.2
gmpy==1.17
html5lib==0.999999999
idna==2.6
ipaddress==1.0.17
ipython==5.5.0
ipython-genutils==0.2.0
jdcal==1.0
joblib==0.11
keyring==10.6.0
keyrings.alt==3.0
lxml==4.2.1
matplotlib==2.1.1
Mirage==0.9.5.2
mock==2.0.0
mpmath==1.0.0
nose==1.3.7
numexpr==2.6.4
numpy==1.13.3
olefile==0.45.1
openpyxl==2.4.9
pandas==0.22.0
pathlib2==2.3.0
patsy==0.4.1+dev
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.1.0
pluggy==0.6.0
prompt-toolkit==1.0.15
py==1.5.2
pycairo==1.16.2
pycrypto==2.6.1
pycurl==7.43.0.1
pyglet==1.3.0
Pygments==2.2.0
pygobject==3.26.1
pyparsing==2.2.0
pyparted==3.11.1
pyperclip==1.8.0
PySide==1.2.2
pytest==3.3.2
python-apt==1.6.5+ubuntu0.3
python-dateutil==2.6.1
pytz==2018.3
pyxdg==0.25
scandir==1.7
scipy==0.19.1
SecretStorage==2.3.1
simplegeneric==0.8.1
simplejson==3.13.2
six==1.11.0
statsmodels==0.8.0
subprocess32==3.2.7
sympy==1.1.1
tables==3.4.2
traitlets==4.3.2
trash-cli==0.12.9.14
wcwidth==0.1.7
webencodings==0.5
xlrd==1.1.0
xlwt==0.7.5
